html{
    font-size: 62.5%;
    font-family: 'Noto Sans TC', sans-serif;
}

/* ------------------------選單------------- */
.nav__bg{
    background-color:#E1EDFF;;
}
.nav-logo{
    width: 132px;
    height: 46px;
}
.navword{
    font-size: 2.4em;
    color: #0C1D5A;
    font-weight: normal;
    margin: 0;

}
.nav-item{
    margin-left: 30px;
    margin-right: 30px;
}
.navbox{
    margin-right: 100px;
}

.navbar-toggler-icon{
    color: #000;
}

.nav-link{
    display: flex;
align-items: center;
text-align: center;
}
.CHO{
    position: relative;
}
.choose{
    background-color: aqua;
    background-color: rgb(16, 58, 122);
    position: absolute;
    bottom:-12px;
    left: 0;
    right: 0;
    
    width: 100%;
    height: 10px;

}
.cga{
    background-color: aqua;
    background-color: rgb(16, 58, 122);
    position: absolute;
    bottom:-12px;
    left: 0;
    right: 0;
    
    width: 100%;
    height: 10px;
}
/* ----------------------------- */
.container-fuild{
    overflow: hidden;
    background-color: #B5D2EB;
}
article{
    width: 100%;
    height: 100vh;
}

.fixbox{
    margin-top: 170px;
}
.fixslime{
    width: 326px;
    height: 355px;
    
}
.fixchinese{
    margin-top: 50px;
    width: 409px;
height: 82px;
}









/* -----icon 變化--footer------- */

.IC{
    
}
.IC :hover{
    transform: scale(1.2);

}
.IC :active{
    transform: scale(1);

}
.CONT{
    color: #000;
    
}
.social-contact h1{
    font-weight: bold;
}

/* ----------------------------------------- */
.foot-social{
    width: 100%;
    
    background: #FFFFFF;

}
.icon-group{
    margin-top: 50px; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
.icon{
    width: 56px;
    height: 56px;
    /* margin-left: 15px;
    margin-right: 15px; */
    margin-right: auto;
    margin-left: auto;
}

.social-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    margin-top: 35px;
    margin-bottom: 40px;
}
/* 
.social-call{
    display:none;
} */



/* --------------------------------------------- */
.foot-bottom{
    width: 100%;
    height: 100px;
    background: #1E405D;
    /* position: relative; */

}

.bot-logo{
    width: 177px;
    height: 61px;
    position: absolute;
    z-index: 0;
    margin-top: 26px;
   
}




/* -------------圖片調整------------ */

@media (max-width: 1200px){
    /* --------------------------選單--------- */
    .navbox{
        margin-right: 50px;
    }
    /* ------------------------------------------ */




    /* ---------footer------- */
    .icon{
        width: 50px;
        height: 50px;
        margin-left: 15px;
        margin-right: 15px;
    }
/* ---------footer------- */






}



/* ---------平板(因為桌機設計先所以配合col-改成767px---------- */
@media (max-width: 767px) { 
    /* ---------------------------選單--------- */
    .navbox{
        margin:0;
    }
    .navword{
        font-size: 2.4em;
        /* color: #0C1D5A;
        font-weight: normal; */
        margin-left: auto;
        margin-right: auto;
    
    }
    .nav-link{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    

    .choose{
        display: none;
    }
    .cga{
        display: none;
    }
    .kk{
        background: rgba(45, 59, 80, 0.5);
        margin: 0;
        
    }
    #nw03{
        color: rgb(255, 255, 255);
    }

    /* ---------------------------------------- */

        /* -----------footer-------- */
        .icon{
            width: 50px;
            height: 50px;
            margin-left: 25px;
            margin-right: 25px;
        }
        .social-contact{
            font-size: 1.4em;
            margin-top: 35px;
            margin-bottom: 20px;
        }
        .bot-logo{
            width: 138px;
            height: 48px;
            margin-top: 26px;
           
        }
        /* ------------footer------------ */






}

/* ---------手機---------- */
@media (max-width: 576px) { 


    /* -----------footer------- */
    .icon{
        width: 60px;
        height: 60px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .social-contact{
        font-size: 0.5em;

    }
    .social-contact h1{
        display: none;
    }
    .icon{

        margin-right: 50px;
        margin-left: 50px;
    }
    /* ------------footer---------- */



}