html{
    font-size: 62.5%;
    font-family: sans-serif;
    background-color:#DAE4F4;
}












/* ------------------------選單------------- */
.nav__bg{
    background-color:#E1EDFF;;
}
.nav-logo{
    width: 132px;
    height: 46px;
}
.navword{
    font-size: 2.4em;
    color: #0C1D5A;
    font-weight: normal;
    margin: 0;

}
.nav-item{
    margin-left: 30px;
    margin-right: 30px;
}
.navbox{
    margin-right: 100px;
}

.navbar-toggler-icon{
    color: #000;
}

.nav-link{
    display: flex;
align-items: center;
text-align: center;
}
.CHO{
    position: relative;
}
.choose{
    background-color: aqua;
    background-color: rgb(16, 58, 122);
    position: absolute;
    bottom:-12px;
    left: 0;
    right: 0;
    
    width: 100%;
    height: 10px;

}
/* .nav-link :hover > choose{
    background-color: rgb(16, 58, 122);

} */
  








.container-fuild{
    overflow: hidden;
}
/* -------------------article----------------- */
article{
    position: relative;
   padding-bottom: 300px;
    background-color:#DAE4F4;
}
/* ---------deco------------------ */
.deco-left{
    position: absolute;
    width: 207px;
    height: 1006px;
    left: 0;
}
.circle{
    position: absolute;
    width: 482px;
    height: 484px;
    border-radius:999em;
    background: rgba(9, 97, 134, 0.26);
    right: -100px;
    top: 130px;
}
/* ----------------------------------- */
.box-all{
    /* position: absolute;
    top: 220px; */
    padding-top: 200px;
    /* display: flex;
    flex-direction: row; */

    
}




.title-deco{
    width: 458px;
    height: 75px;
    position: relative;
    z-index: 1;
    margin-left: 240px;
    margin-top: 70px;
    background: rgba(77, 110, 137, 0.6);
}

.title-C{

    position: absolute;
    top: -35px;
    left: 160px;
}
.title-h1{
    font-weight: bold;
    font-size: 6.4em;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
    margin: 0;

}
.title-E{

    position: absolute;
    top: 40px;
    left: 70px;
}
.title-h2{
    font-weight: normal;
    font-size: 3.6em;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
    margin: 0;
    

}

/* ---text--------------- */
.text{
    width: 100%;
}
.text-box{
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.text-p{
    font-size: 2.4em;
    line-height: 2.4em;
    margin-left: auto;
    margin-right: auto;
}
.img{
    width: 100%;
    /* width: 712px; */
    height: 430px; 
    border-radius: 79px;
    margin-left: auto;
    margin-right: auto;
}
.img-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


/* --------------icon------------- */
.icon-box{
    margin-top: 50px;
}
.icon-pc{
    width: 73px;
    height: 72px;
    margin-top: 10px;
}
.icon-ap{
    width: 66px;
    height: 79px;

}
.icon-ad{

    width: 73px;
    height: 85px;
}

.home{
    
}

/* -----------deco-bottom--------------- */
.jelly-deco-bot1{
    width: 471px;
    height: 208px;
    position: absolute;
    bottom: -54.5px;
    right: 0;
    z-index: 1;
}
.jelly-deco-bot2{
    display: none;
}

/* -----icon 變化--------- */

.IC{
    
}
.IC :hover{
    transform: scale(1.2);

}
.IC :active{
    transform: scale(1);

}
.CONT{
    color: #000;
    
}
.social-contact h1{
    font-weight: bold;
}


/* ------------------footer---------- */

.foot-social{
    width: 100%;
    
    background: #FFFFFF;
    position: relative;

}
.icon-group{
    margin-top: 50px; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
.icon{
    width: 56px;
    height: 56px;
    /* margin-left: 15px;
    margin-right: 15px; */
    margin-right: auto;
    margin-left: auto;
}

.social-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    margin-top: 35px;
    margin-bottom: 40px;
}
/* 
.social-call{
    display:none;
} */



/* --------------------------------------------- */
.foot-bottom{
    width: 100%;
    height: 100px;
    background: #1E405D;
    /* position: relative; */

}

.bot-logo{
    width: 177px;
    height: 61px;
    position: absolute;
    z-index: 0;
    margin-top: 26px;
   
}



/* ------------------------------------------------- */
/* -------------圖片調整------------ */

@media (max-width: 1200px){

        /* --------------------------選單--------- */
        .navbox{
            margin-right: 50px;
        }
        /* --------------------------- */
    article{
        padding-bottom: 250px;

    }
    .deco-left{
        position: absolute;
        width: 172.84px;
        height: 840px;
        left: 0;
    }
    .circle{
        width: 350px;
        height: 350px;
        right: -80px;
        top: 110px;
    }

    .jelly-deco-bot1{
        width: 392px;
        height: 173.11px;     
        bottom: -45px;
    }
    .img{
        width: 90%;
        /* width: 712px; */
        height: 300px; 
        border-radius: 69px;
    }
    .box-all{
        padding-top: 170px;
    }
    .title-deco{
        width: 340px;
        height: 56px;
        margin-left: 80px;
        margin-top: 70px;
    }

    .title-C{
        top: -35px;
        left: auto;
    }
    .title-h1{
        font-size: 5.5em;   
    }
    .title-E{
        top: 30px;
        left: 80px;
    }
    .title-h2{
        font-size: 3em;
    }
    .text-box{
        width: 75%;

        margin-top: 50px;
       
    }
    .text-p{
        font-size: 2em;
        line-height: 2em;
    }
/* -- */
    .icon-box{
        margin-top: 40px;
    }
    .icon-pc{
        width: 57px;
        height: 57px;
        margin-top: 10px;
    }
    .icon-ap{
        width: 55px;
        height: 66px;
    
    }
    .icon-ad{
    
        width: 59px;
        height: 69px;
    }
    
    .home{
        
    }
    /* ---------footer------- */
    .icon{
        width: 50px;
        height: 50px;
        margin-left: 15px;
        margin-right: 15px;
    }
/* ---------footer------- */


}

/* ---------平板(因為桌機設計先所以配合col-改成767px---------- */
@media (max-width: 767px) { 

        /* ---------------------------選單--------- */
        .navbox{
            margin:0;
        }
        .navword{
            font-size: 2.4em;
            /* color: #0C1D5A;
            font-weight: normal; */
            margin-left: auto;
            margin-right: auto;
        
        }
        .nav-link{
            margin-top: 20px;
            margin-bottom: 20px;
        }
        

        .choose{
            display: none;
        }

        /* ---------------------------------------- */
    article{
        padding-bottom: 200px;

    }
    .deco-left{
        width: 128.4px;
        height: 624px;
               
    }
    .circle{
        width: 300px;
        height: 300px;
        right: -70px;
        top: 100px;
    }
    .jelly-deco-bot1{
        width: 261px;
        height: 115.26px;   
        bottom: -30.3px;
    }
    .img{
        width: 70%;
        /* width: 712px; */
        height: 340px;
        border-radius: 49px;
    }
    .box-all{
        padding-top: 150px;
    }
    .title-deco{
        width: 400px;
        height: 22px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 70px;
    }

    .title-C{
        position: static;
        margin-right: auto; 
        margin-left: auto; 
        margin-bottom: 40px;

    }
    .title-h1{
        font-size: 4.5em; 

    }
    .title-E{
        position: static;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 30px;

    }
    .title-h2{
        font-size: 3em;

    }
    .text02{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
    }
    .text-box{
        width: 50%;

        margin-top: 50px;
       
    }
    .text-p{
        font-size: 2em;
        line-height: 2em;
        margin-right: auto;
        margin-left: auto;
    }
    .home{
        display: none;
    }
    /* -----------footer-------- */
    .icon{
        width: 50px;
        height: 50px;
        margin-left: 25px;
        margin-right: 25px;
    }
    .social-contact{
        font-size: 1.4em;
        margin-top: 35px;
        margin-bottom: 20px;
    }
    .bot-logo{
        width: 138px;
        height: 48px;
        margin-top: 26px;
       
    }
    /* ------------footer------------ */   



}

/* ---------手機----576px------ */
@media (max-width: 576px) { 
    article{
        padding-bottom: 150px;

    }
    .deco-left{
        width: 79.01px;
        height: 384px;
    }
    .circle{
        width: 200px;
        height: 200px;
        right: -30px;
        top: 80px;
    }
    .jelly-deco-bot1{
        display: none;
    }
    .jelly-deco-bot2{
        display: block;
        width: 100%;
        height: 70px;
        position: absolute;
        bottom: -68px;
        right: 0;
        z-index: 1;
        

    }
    .foot-social{
        margin-top: 50px;
    
    }
    .img{
        width:300px;
        /* width: 712px; */
        height: 300px; 
        border-radius: 999px;
    }
    .box-all{
        padding-top: 100px;
    }
    .title-C{
        position: static;
        margin-right: auto; 
        margin-left: auto; 
        margin-bottom: 80px;
        

    }
    .title-h1{
        font-size: 3.5em; 
        color: #1E405D;
        text-shadow:none

    }
    .title-E{
        /* position: static;
        margin-right: auto;
        margin-right: auto;
        margin-bottom: 0; */
        display: none;

    }
    .title-h2{
        font-size: 2em;

    }
    .home{
        display: none;
    }

    /* ----------footer--- */
    .icon{
        width: 60px;
        height: 60px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .social-contact{
        font-size: 0.5em;

    }
    .social-contact h1{
        display: none;
    }
    .icon{

        margin-right: 50px;
        margin-left: 50px;
    }
    /* ----------footer--- */



}